{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
<div class="pupils-page">
{% if pupils.count > 0 %}

{% for pupil in pupils %}
<div class="container">
    <hr>
    <h2><a class="custom-link" href="/pupils/{{pupil.id}}/">{{ pupil.title }}</a></h2>
    <div class="article-info">
        Published : {{ pupil.published }}
    </div>
    <img src="{{ pupil.image.url }}" class="img-rounded img-responsive adjust-img">
    <div class="article-intro">
        <p> {{ pupil.content | truncatewords:150 }} </p>
    </div>
    <a class="btn btn-inverse art-more custom-btn" href="/pupils/{{pupil.id}}/">check more</a>
</div>
{% endfor %}

{% else %}
<h2>Yupi!!! All Pupils have homes!!!</h2>
<p>Please check back later.</p>
{% endif %}
</div>
{% endblock %}