{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
    <div class="inprogres">
        <h1>Thank You</h1>
        <p>It seems as You are a very good person, but for now we are unable to take donation from You</p>
        <h3>Whats happen?</h3>
        <p>Our service is under development so please be patient and come check back soon is it online.</p>
        <a class="btn btn-inverse art-more custom-btn donate-btn" href="/">Go Home</a>
    </div>
</div>
{% endblock %}